.top_nav {
  background-color: #20314E;
}

.nav_logo {
  font-family: 'Black Han Sans', sans-serif;
  font-size: xx-large;
}

.menu_list {
  justify-content: flex-end;
}

p {
  color: #fff;
  margin: 0;
}

.logout {
  margin-left: 10px;
  border-color: #FFCA95;
  border-radius: 50%;
  background-color: #FFCA95;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
